@import url('app.css');
@import url('~katex/dist/katex.css');


.App {
  text-align: center;
}
.app-title{
  color:orange;
  text-align: center
}

li {list-style-type: none;}

.textarea-class {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 10%;
  width:80%;
  height: auto;
  min-height: 200px;
  }


.markdown-preview-class {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  margin-left: 10%;
  padding-left: 10px;
  width:80%;
  height: auto;
  min-height: 200px;
}

.text-instruction-class {
  margin-left: 10%;
  font-size: 16px;
}

/* Allow overflow on input areas for myst */
.jp-MySTMarkdownCell .jp-InputArea,
.jp-MySTMarkdownCell .jp-InputArea > .p-Widget {
  overflow: visible;
}

.myst p .lm-Widget img {
  height: 1.5em;
  transform: translateY(25%);
}

.myst .lm-Widget {
  overflow: inherit;
}

.myst .jp-RenderedHTMLCommon > *:last-child {
  margin-bottom: 0;
}

.myst .jp-RenderedHTMLCommon {
  padding-right: 0.1em;
}

.myst .jp-RenderedText {
  text-align: left;
  padding-left: 0;
  line-height: inherit;
}

/* Markdown viewer */
.jp-Document .jp-MarkdownViewer .jp-RenderedMySTMarkdown {
  padding: var(--jp-private-markdownviewer-padding);
  overflow: auto;
}
