.App {
  text-align: center;
}
.app-title{
  color:orange;
  text-align: center
}
.textarea-class {
  border-width: 2px;
  border-style: solid;
  border-color: orange;
  border-radius: 10px;
  background-color: rgb(251, 237, 212);
  padding-left: 10px;
  margin-left: 10%;
  width:80%;
  height: auto;
  min-height: 200px;
  }
.markdown-preview-class {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: orange;
  background-color: rgb(251, 237, 212);
  margin-left: 10%;
  padding-left: 10px;
  width:80%;
  height: auto;
  min-height: 200px;
}

.text-instruction-class {
  margin-left: 10%;
  font-size: 16px;
}